header {
    height: 100px;
}

.navbar{
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: white; /* ベース基調となる濃い青 */
    position: fixed;
    z-index: 1;
}

#logo-img{
    height: 20px;
}

.navbar-default .navbar-nav >li > a{
    color: #222222;
    font-size: 20px;
}

.navbar-default .navbar-nav >li > a:hover{
    color: #aaa;
}

.nav-icon{
    padding: 0;
    height: 10px;
    width: 10px;
}

.fixed {
    position: fixed;
    top: 0;
    opacity: 1;
}

@font-face {
    font-family: 'Makinas-Scrap-5';
    src: url('./Makinas-Scrap-5.otf') format('opentype');
}

body {
    font-family: Makinas-Scrap-5;
    color: #222222;
    font-size: 20px;
}

#top_image {
    width: 100%;
}

.sub-title {
    font-size: 50px;
}

#About {
    padding-top: 30px;
}

#sub-about {
    border-bottom: thin solid #bce8f1;
}

.sub-logo {
    width: 50px;
    height: 50px;
    padding: 0;
}


#city {
    width: 100%;
}


#Info {
    margin-top: 50px;
    padding-top: 30px;
}

#sub-info {
    border-bottom: thin solid #e4b9c0;
}

#map_canvas {
    width: 100%;
}

.time-and-place {
    margin-top: 50px;
}

.contents {
    text-align: center;
    padding-top: 150px;
}

#Works {
    margin-top: 50px;
    padding-top: 30px;
}

#sub-work {
    border-bottom: thin solid #c1e2b3;
}

#footer {
    margin-top: 300px;
    background-color: #5e5e5e;
}

.footer-description {
    margin-top: 50px;
    text-align: center;
}

.icons {
    margin-top: 50px;
    margin-bottom: 50px;
}